@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{	
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    color: rgb(250, 250, 250);
    background-color: #23232B;
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
}

.background {
  position: relative;
  height: 100vh;
  background: linear-gradient(to bottom, #0f111a, #1d2033);
  overflow: hidden;
}

.curve {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #1d2033;
  clip-path: ellipse(75% 100% at 50% 100%);
}

.dots {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 200px;
  height: 200px;
  background-image: radial-gradient(#4fa8ff 2px, transparent 2px);
  background-size: 20px 20px;
  opacity: 0.3;
}

#my-name{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.main-header{
    height: 72px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.app-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.app-wrapper{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 64px;
}

.section-app{
    width: 100%;
}
.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid white;
    width: 100%;
    position: relative;
}

a{
    text-decoration: none;
    color: rgb(250, 250, 250);
}

#mateo-giuffra{
    margin-top:  64px;
    
}

.button{
    border-radius: 30px;
    padding: 12px;
    border: 1px solid white;
    background-color: transparent;
    color: rgb(250, 250, 250);
}
.button.white{
    color:black;
    background-color: rgb(250, 250, 250);
}
.button.white:hover{
    color:rgb(250, 250, 250);
    background-color:transparent;
}

.button:hover{
    background-color: rgb(250, 250, 250);
    color: #23232B;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.paragraph{
    max-width: 50%;
}


li{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 20px;
}