.section-app-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(45, 18, 109, 0.438); */
    
    animation: fade-in linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section-app{
    background: linear-gradient(to bottom, #0f111a, #2f263b7e);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    border-radius: 4px;
       
    
}
.section-app > h1, h2{
    padding-bottom: 16px;
}

.padding-container{
    padding: 32px;
}

