.proyect-card-wrapper {
    width: 100%;
    /* aspect-ratio: 4 / 7;  */
    max-width: 500px;
    perspective: 1000px;
}

/* @media (max-width: 1000px) {
    .proyect-card-wrapper {
        max-width: 100%;
        perspective: none;
    }
    .proyect-card-technologies{
        display: none;
    }
} */

.proyect-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    min-height: 800px;
}



.proyect-card-inner.flipped {
    transform: rotateY(180deg);
}

.proyect-card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #1d2030;
    border-radius: 10px;
    border: 1px solid #585eaf42;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 16px;
}

.proyect-card-technologies-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.proyect-card-techs-and-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.proyect-card-front {
    z-index: 2;
}

.proyect-card-back {
    transform: rotateY(180deg);
    z-index: 1;
}

.proyect-card-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    transition: transform 0.3s;
}

.proyect-card-img:hover{
    transform: scale(1.05);
}

.proyect-card-title {
    font-size: 2rem;
    text-align: center;
    color: white;
}



.proyect-card-technologies {
    font-size: 1.5rem;
    color: white;
}

.proyect-card-technologies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.proyect-title-img-and-description-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 600px;
}

.tag {
    padding: 8px 16px;
    background-color: rgb(238, 238, 238);
    border-radius: 24px;
    border: none;
    color: #000000;
    box-shadow: inset 1px 0px #84868a, 0px 1px #84868a;
}

.proyect-card-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.proyect-card-description {
    font-size: .7lh;
    line-height: 1.5;
    color: white;
    padding: 10px;
    max-height: 80%;
    text-align: start;
}

.proyect-card-subtitle{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.proyect-card-more-info-list{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100%;
    padding-left: 24px;
}

.proyect-card-more-info{
    color: white;
    font-size: .7lh;
    list-style: outside;
}

.proyect-card-back-image-container{
    max-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyect-card-back-image{
    width: 100%;
    height: 100%;
    object-fit:scale-down ;
    border-radius: 16px;
    transition: transform 0.3s;
}

.proyect-card-back-image:hover{
    transform: scale(1.05);
}